# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore files with extensions '.out'
*.out

# Ignore .myshell_history file automatically made by myshell
.myshell_history

!Makefile